*{
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
}
.all{
    background-color: rgb(224, 211, 211);
}

.top{
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;

}
.middle{
    background-color:hotpink;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px;

}

.buttom{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}